
.backing{
   width:100%; 
   height: 100vh; 
   background-image: linear-gradient(rgba(0,0,0,0.68), rgba(0,0,0,0.68)),url(iridium.jpg); 
   background-size: cover; 
   background-position: center;
   overflow-x: hidden;
   overflow-y: hidden;
}

.fade-in-image {animation: fadeIn 1s;}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
         opacity: 1;   
    }
}

.hid {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.hid.BMQ_card{
    animation-delay: .1s;
}

.hid.desc_card{
    
    animation-delay: .2s;
}

.hid.button_card{
    animation-delay: .3s;
}
